.Person{
    margin: 16px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

/* button{
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid green;
    padding: 8px;
    cursor: pointer;
} */